#jeu{
  position: relative;
  margin: 0 auto;
  width:700px;
  background-image: url(../images/Fotolia_81556974_Subscription_Monthly_M.jpg);
  height:700px;
  border:2px solid white;
  margin:0 auto;
}

#balle{
  position: absolute;
  transition: 0.5s linear;
  background-image: url(../images/avion.png);
}

#speakeron{
  right: 70;
  top: 20;
  width: 50px;
  height: 50px;
  position: fixed;
}


#score{
  color: white;
  font-size: 12px;
  font-family: 'Arcade Normal', cursive;
  right: 5px;
  position: absolute;
}

#score2{
  color: white;
  font-size: 12px;
  font-family: 'Arcade Normal', cursive;
  right: 5px;
  position: absolute;
}




/***/ 
body{
  margin: 0 auto;
  background-image: url(../images/fond.png) ;
}


/*HEADER*/

header{
  text-align: center;
  background-color: white;
  width:100%;
  height:100px;
  display: inline-block;
  box-shadow: 0px -10px 10px 2px rgba(0, 0, 0, 0.3) inset;
  margin-bottom:40px;
}

header img {
 padding-top:10px;
 text-align: center; 
 width: 60px;
 height: 70px;
 margin-bottom:20px;
}


.lien1{
 color:#63566b;
 display:inline-block;
 margin-top: 20px;

 text-transform: uppercase;
 text-decoration:  none;
 border-radius: 3px;
 margin-right:40px;
 font-family: 'Arcade Normal', cursive;
}
a.lien1:hover{
  color: #41b8bb;   

}
.lien2{
 color:#63566b;
 display:inline-block;
 padding-top: 15px;
 text-transform: uppercase;
 text-decoration:  none;
 border-radius: 3px;
 margin-left:40px;
 font-family: 'Arcade Normal', cursive;
}
a.lien2:hover{
 color: #41b8bb;   
}

/*CONTENU*/

section div.titre{
  width: 33%;
  margin: 0 auto;
  margin-bottom: 40px;
}

.rules{
  text-align: center;
  margin: 0 auto;
  width: 50%;
  color: white;
}




/*FOOTER*/

footer{
  margin-top:10%;
  background-color:white;
  padding-top: 3%;
  box-shadow: 0px 10px 10px 2px rgba(0, 0, 0, 0.3) inset;
}

footer nav ul{
  margin:0 auto;
  text-align: center;

}
footer nav li {
  list-style: none;
  display: inline-block;
  padding: 20px 20px;;
  font-weight: 300;
  font-size: 18px;
  text-decoration: underline;
  color:#63566b;
}
 footer nav ul li a{
  color:#63566b;
 }

 footer nav ul li a:hover{
  color: #41b8bb;
 }


footer nav ul li a img{
  width: 45px;
  height: 45px;
  margin-right: 30px;
}



